@model dynamic
@{
    ViewBag.Title = "Login Failure";
}

<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        @if (ViewBag.Description != null)
        {
            <p>@ViewBag.Description</p>
        }

        @if (ViewData.ModelState.Count > 0)
        {
            <ul>
                @foreach (var state in ViewData.ModelState.OrderBy(x => x.Key.Length))
                {
                    if (string.IsNullOrEmpty(state.Key))
                    {
                        foreach (var error in state.Value.Errors)
                        {
                            <li>
                                @error.ErrorMessage
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            @state.Key :
                            <ul>
                                @foreach (var error in state.Value.Errors)
                                {
                                    <li>
                                        @error.ErrorMessage
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        }
    </div>
</div>
