@model Models.UmbracoIdentity.ExternalLoginListViewModel
@using UmbracoIdentity.Web.Controllers
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any())
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginUmbracoForm<UmbracoIdentityAccountController>(Model.Action))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Use another service to log in</legend>
                
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    </p>
                </div>

            </fieldset>
            
        }
    }
}
