@model UmbracoIdentity.Web.Models.UserPasswordModel

@{
    //used to set a prefix for fields
    var localPasswordModel = Model;
}
<p>
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "UmbracoIdentityAccount", FormMethod.Post, new { @class = "foundationForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create Local Login</legend>
        
        @Html.ValidationSummary("localPasswordModel", true)

        <div class="row">
            <div class="small-12 columns">
                <label for="@Html.IdFor(m => localPasswordModel.NewPassword)">
                    @Html.DisplayNameFor(m => localPasswordModel.NewPassword)
                    @Html.PasswordFor(m => localPasswordModel.NewPassword)
                </label>
                @Html.ValidationMessageFor(m => localPasswordModel.NewPassword)
            </div>
        </div>
        
        <div class="row">
            <div class="small-12 columns">
                <label for="@Html.IdFor(m => localPasswordModel.ConfirmPassword)">
                    @Html.DisplayNameFor(m => localPasswordModel.ConfirmPassword)
                    @Html.PasswordFor(m => localPasswordModel.ConfirmPassword)
                </label>
                @Html.ValidationMessageFor(m => localPasswordModel.ConfirmPassword)
            </div>
        </div>
        
        <button>Set password</button>

    </fieldset>

}
