@using UmbracoIdentity.Web.Models.UmbracoIdentity
@inherits UmbracoTemplatePage
@{
    Layout = "AccountLayout.cshtml";
}

<div class="row">
    <div class="small-12 columns">
        <h2>Account</h2>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="small-12 columns">
            @Html.Partial("LoginStatus", Model)
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            @Html.Partial("Profile", Model)
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="small-6 columns">
            @Html.Partial("Login", Model)
        </div>
        <div class="small-6 columns">
            @Html.Partial("~/Views/UmbracoIdentityAccount/ExternalLoginsList.cshtml", new ExternalLoginListViewModel { Action = "ExternalLogin" })
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            @Html.Partial("Register", Model)
        </div>
    </div>
}